page-verse {
    .verses-listview {
        direction: rtl;
        font-family: 'KFGQPC Uthmanic Script HAFS';

        .verses-listview-item {
            width: 100%;
            line-height: 65px;
            text-align: right;
            &:first-child { 
                // padding-right: 20px;
            }
            
            &.verse-selected {
                background-color: $action-sheet-md-button-background-activated; 
            }
            .verses-listview-bismillah {

            }
            .verses-listview-text {

                > span {
                    font-family: 'me_quran';
                    margin-right: 5px;
                    font-size: 0.8em;
                    
                    &:before{
                        content: '\FD3F';
                    }
                    &:after{
                        content: '\FD3E';
                    }
                }
            }
        }
    }
}